:root {
  --fretboard-height: 300;
}
.fretboard {
  height: calc(var(--fretboard-height) * 1px);
  width: 100%;
  background-color: green;
}

.string {
  height: 10px;
  width: 100%;
  background-color: gray;
  margin: 40px;
}
