:root {
  --fretboard-height: 250px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(148, 147, 147);
}

.fretboard {
  display: flex;
  flex-direction: column; /* top to bottom */
  height: calc(var(--fretboard-height) * 1px);
  width: 100%; /* fill entire browser window across */
  background-color: green;
  margin-top: 50px;
  background: rgb(231, 131, 7);
}

.string {
  height: 6px;
  width: 100%;
  background-color: gray;
  margin: 40px;
}
